/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/*
/vendor/laravel/framework/src/Illuminate/Contracts/Log/*
/vendor/laravel/framework/src/Illuminate/Http/StreamedEvent.php
/vendor/laravel/framework/src/Illuminate/Log/Context/ContextLogProcessor.php
/vendor/laravel/framework/src/Illuminate/Log/vendor/
/database/database.sqlite   
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
.env